<% getAllClasses %>
<%= will_paginate @s_classes %>
<table class='table-hover center'  width="100%" cellpadding="1" cellspacing="1">
<tr>
  <th>Status</th>
  <th>CRN</th>
  <th>Class</th>
  <th>Course #</th>
  <th>Course Name</th>
  <th>Term</th>
  <th>Credits</th>
  <th>Seats<br>Avail</th>
  <th>Total<br>Seats</th>
  <th>Days </th>
  <th>Time</th>
  <th>Location</th>
  <th>Teacher</th>
</tr>



    <%= render @s_classes %>
</table>

<span class="entriesRight"><%= page_entries_info @s_classes %></span>
<%= will_paginate @s_classes %>
