<h3 class="inline"><%= current_user.name %>,</h3>
<h3 class="inline right-text ">Course Schedule</h3>

<% if current_user.gswid && current_user.gswpin%>
<% getSchedule(current_user,false) %>
  <%= render 'studentSchedule' %>
<% else %>
<% flash[:notice] = "Add your GSW ID And PIN to your profile to display your class schedule here" %>
<% end %>
</tbody>
</table>
<%= link_to  refresh_action_path(current_user.id),class:'btn btn-primary refreshClass' do %>
  <span class="glyphicon glyphicon-refresh"></span>Refresh
<% end %>

