@import "bootstrap-sprockets";
@import "bootstrap";

.danger{
	background-color: #CC0000;
	color: white;
}


.success{
	background-color: #009900;
	color: white;
}
.table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th
{
	color: black;
}
.table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th
{
		color: black;
}

/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize:vertical;
}

.center {
	text-align: center;
}

.center h1{
	margin-bottom: 10px;
}


/* Typography */

h1, h2 ,h3 ,h4, h5, h6{
	line-height: 1;
}

h1{
	font-size: 3em;
	letter-spacing:  -2px;
	margin-bottom: 30px;
	text-align: center;
}
h2{
	font-size: 1.2em;
	letter-spacing:  -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight:  normal;
	color: #777;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

#logo {
	float: left;
	margin-right: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing:  -1px;
	padding-top: 9px;
	font-weight: bold;
}
#logo:hover{
	color: #fff;
	text-decoration: none;
}

/* footer */

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 5px;
	color: #777;

}

footer a{
	color: #555;
}

footer a:hover{
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li{
	float: left;
	margin-left: 15px;
}

.jumbotron{
	background: white;
	/*
	background-image: url('canes.jpg');
	background-size: cover;
	*/

}

/* Sidebar */

aside{
	section.user_info{
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child{
			border: 0;
			padding-top: 0;
		}
		span{
			display:block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1{
			font-size: 1.4em;
			text-align: left;
			letter-spacing:  -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar{
	float:left;
	margin-right: 10px;
}

.gravatar_edit{
	margin-top: 15px;
}




/* forms */

input, textarea, select, .uneditable-input {

	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;

}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul{
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors{
	@extend .has-error;
	color: $state-danger-text;
}

.checkbox {

	margin-top: -10px;
	margin-bottom: 10px;
	span{
		margin-left: 20px;
		font-weight: normal;
	}
}


#session_remember_me{
	width: auto;
	margin-left: 0;
}

/*  Users Index*/

.users{
	list-style:note;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid grey
	}
}

.table-hover td,th{
	text-align: center;

}

.refreshClass {
	 border: 1px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -border-radius: 10px;
	float:right;
	margin: 5px;
}



.alert {
    text-align: center;
    padding:	.3em .4em;
    margin:		0 auto .5em;
    clear:		both;
    max-width:	46.923em; /* 610/13 */
    *max-width:	45.750em; /* 610/13.3333 - for IE */
}

.alert.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.alert-notice, .alert.info {
    border: thin solid #ff0;
    background: #ffe;
    color: green;
		ul{
			color: green;
			margin: 0 0 30px 0;
		}
}

.alert.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

.alert .close {
    float:	right;
}

.alert .close a {
    color:				#f00;
    text-decoration:	none;
}

li.active{

}

.nav-pills > li.active > a,
.nav-pills>li.active>a:hover {
    background-color:blue;
}


.nav-pills>li>a:hover {
    text-decoration: none;
    background-color: yellow;
}

.inline {
	display:inline;
	h2.right-text {
		float: right;
	}
}
