@import "bootstrap-sprockets";
@import "bootstrap";

th.sorting_asc{
	background: #0033CC;
	color:white
}
th.sorting_desc{
	background: #0033CC;
	color: white;
}
tr.danger > td.sorting_1{
	elevation: -1;
	background-color: #DA4747;
	color:white;

	}
tr.success > td.sorting_1{
		elevation: -1;
		color:white;
	  background-color: #33AD33;
	}


.classList{

	left: -100px;
}

.classData{
	position: relative;
	tr{
	font-family: Convergence;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
	border: none !important;
    border-radius: 0 0 10px 0;
}
}

div.dataTables_length{
	label{
		display:inline;
	}
  
  display: inline-block;  /* Characteristics of block, but sits on a line */
  display: block;         /* UA stylesheet makes things like <div> and <section> block */
 
}


.classHeader{
	font-style:bold;
	
	border:none;
	background: #d5e3e4;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZTNlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2NjZGVlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2M4Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #d5e3e4 0%, #ccdee0 40%, #b3c8cc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5e3e4), color-stop(40%,#ccdee0), color-stop(100%,#b3c8cc));
	background: -webkit-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
	background: -o-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
	background: -ms-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
	background: linear-gradient(to bottom,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);

th:first-child {
    border-radius: 10px 0 0 0;
}
th:last-child {
    border-radius: 0 10px 0 0;
}
}

.entriesRight{
	float:right;
}

.table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th
{
	color: black;
}
.table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th
{
		color: black;
}

/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize:vertical;
}

.center {
	text-align: center;
}

.center h1{
	margin-bottom: 10px;
}


/* Typography */

h1, h2 ,h3 ,h4, h5, h6{
	line-height: 1;
}

h1{
	font-size: 3em;
	letter-spacing:  -2px;
	margin-bottom: 30px;
	text-align: center;
}
h2{
	font-size: 1.2em;
	letter-spacing:  -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight:  normal;
	color: #777;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

#logo {
	float: left;
	margin-right: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing:  -1px;
	padding-top: 9px;
	font-weight: bold;
}
#logo:hover{
	color: #fff;
	text-decoration: none;
}

/* footer */

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 5px;
	color: #777;

}

footer a{
	color: #555;
}

footer a:hover{
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li{
	float: left;
	margin-left: 15px;
}

.jumbotron{
	background: white;
	/*
	background-image: url('canes.jpg');
	background-size: cover;
	*/

}

/* Sidebar */

aside{
	section.user_info{
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child{
			border: 0;
			padding-top: 0;
		}
		span{
			display:block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1{
			font-size: 1.4em;
			text-align: left;
			letter-spacing:  -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar{
	float:left;
	margin-right: 10px;
}

.gravatar_edit{
	margin-top: 15px;
}




/* forms */

input, textarea, select, .uneditable-input {

	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;

}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul{
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors{
	@extend .has-error;
	color: $state-danger-text;
}

.checkbox {

	margin-top: -10px;
	margin-bottom: 10px;
	span{
		margin-left: 20px;
		font-weight: normal;
	}
}


#session_remember_me{
	width: auto;
	margin-left: 0;
}

/*  Users Index*/

.users{
	list-style:note;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid grey
	}
}

.table-hover td,th{
	text-align: center;

}

.refreshClass {
	 border: 1px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -border-radius: 10px;
	float:right;
	margin: 5px;
  postion: relative;

}
.btn.btn-primary.adminMenu
{
  padding: 5px;
  margin: 5px;
  color: white;
}
.btn.btn-primary.adminMenu:hover
{
  padding: 5px;
  margin: 5px;
  color: black;
}



.alert {
    text-align: center;
    padding:	.3em .4em;
    margin:		0 auto .5em;
    clear:		both;
    max-width:	46.923em; /* 610/13 */
    *max-width:	45.750em; /* 610/13.3333 - for IE */
}

.alert.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.alert-notice, .alert.info {
    border: thin solid #ff0;
    background: #ffe;
    color: green;
		ul{
			color: green;
			margin: 0 0 30px 0;
		}
}

.alert.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

.alert .close {
    float:	right;
}

.alert .close a {
    color:				#f00;
    text-decoration:	none;
}

li.active{

}




.nav-tabs>li>a:hover {
    text-decoration: none;
    background-color: yellow;
}

.inline {
	display:inline;
	h2.right-text {
		float: right;
	}
}


.pagination{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}


.spin {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spin > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spin .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spin .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spin .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spin .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
